{
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "strict",
    "parser": "typescript",
    "singleQuote": true,
    "semi": false,
    "insertPragma": false,
    "requirePragma": false,
    "arrowParens": "avoid"
}