.gallery img {
    border-radius: 3px;
}

.banner {
    width: 100%;
    padding-inline: 15px;
}

.banner img {
    border-radius: 10px;
}

.banner span[class="image-gallery-description"] {
    font-size: 4dvw;
}
